<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div id="page_container">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      <section id="page">
        <%= yield %>
      </section>
      <section id="call-to-action">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class="block">
                         <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Let Us Help You Achieve Your Goals</h1>
                         <!-- <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Contact us for a consultation.</p>
                         <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contact Us</a> -->
                     </div>
                 </div>

             </div>
         </div>
      </section>
      <footer id="footer">
        <div class="container">
          <div class="col-md-8">
            <p class="copyright">
          <%= render "/refinery/footer" -%> </p>
        </div>
        </div>
      </footer>
    </div>
  </body>
</html>
